* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    background: #121214;
    display: block;
}

body, input, button, textarea {
    font-family: 'Roboto', sans-serif;
    color: white;
}

#container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}